<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Test Mob</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>

    <plugin name="cordova-admob-sdk" spec="~0.13.1" />
    
    <content src="index.html" />
    <access origin="*" />
</widget>
